@use "variables" as v;

footer {
    text-align: center;
    padding: 15px;
    background: v.$dark-gray;
    color: v.$white;
    font-size: 14px;
}

.share-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(0, 115, 230, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    overflow: visible;
    z-index: 1000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    .main-icon {
        width: 40px;
        height: 40px;
        object-fit: contain;
        transition: transform 0.3s ease, opacity 0.3s ease;
        opacity: 0.8;
    }

    .social-icons {
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%) scale(0);
        display: flex;
        flex-direction: column;
        gap: 10px;
        transition: transform 0.3s ease, opacity 0.3s ease;
        opacity: 0;

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
            opacity: 0;
        }
    }

    &:hover {
        background-color: rgba(0, 115, 230, 0.7);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);

        .social-icons {
            transform: translateX(-50%) scale(1);
            opacity: 1;
        }

        .social-icons img {
            opacity: 1;
            transform: translateY(0);
        }
    }
}