@use "variables" as v;

@media (max-width: 768px) {
  header {
    padding: 5px 10px;
  }

  .logo {
    width: 70px;
  }

  .navbar {
    width: 100%;
    padding: 0;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .nav-link {
    font-size: 0.9rem;
    padding: 5px;
  }

  .carousel-container img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 576px) {
  .footer {
    font-size: 12px;
  }
}