@use "variables" as v;

.test-viaje {
    text-align: center;
    padding: 40px 20px;

    h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    select,
    button {
        padding: 10px;
        border-radius: v.$border-radius;
        border: 1px solid v.$dark-gray;
    }

    button {
        background: v.$primary-color;
        color: v.$white;
        cursor: pointer;

        &:hover {
            background: v.$secondary-color;
        }
    }
}